.App {
    display: grid;
    place-items: center;
}

.lista {
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    border: 1px solid lightgray;
    margin-bottom: 10px !important;
    padding: 10px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    overflow-wrap: break-word; 
}

.lista .MuiListItemAvatar-root {
    min-width: 56px;
}

.lista .MuiListItemText-primary {
    font-weight: bold;
}

.lista .MuiListItemText-secondary {
    font-size: 0.875rem;
    color: gray;
}


.lista .MuiListItemText-primary, 
.lista .MuiListItemText-secondary {
    word-wrap: break-word; 
    overflow-wrap: break-word;
}


@media (max-width: 600px) {
    .lista {
        flex-direction: column; 
        align-items: flex-start;
    }
}

